{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/puppy-detail.css' %}"
/>
<script defer src="{% static 'js/puppy-detail.js' %}"></script>

{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/pup3.jpg' %}" 
      width="300"
      height="300"
      alt="A sleepy pup"
    >
  </div>
  <div class="cat-details">
    <h1>{{ puppy.name }}</h1>
    {% if puppy.age > 0 %}
      <h2>A {{ puppy.age }} year old {{ puppy.breed }}</h2>
    {% else %}
      <h2>A {{ puppy.breed }} puppy.</h2>
    {% endif %}
    <p>{{ puppy.description }}</p>
    <div class="cat-actions">
      <a href="{% url 'puppies_update' puppy.id %}" class="btn warn">Edit</a>
      <a href="{% url 'puppies_delete' puppy.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
    </div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add_feeding' puppy.id %}" 
      method="post" 
      class="subsection-content"
    >
      {% if cat.fed_for_today %}
        <p class="fed">{{cat.name}} has been fed all their meals for today!</p>
      {% else %}
        <p class="unfed">{{cat.name}} might be hungry!</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    {% comment %} New code above {% endcomment %}
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in puppy.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <section class="toys">
    <div class="subsection-title">
      <h2>Toys</h2>
      
    </div>
    <h3>{{ puppy.name }}'s Toys</h3>
    <div class="subsection-content">
      {% if puppy.toys.count %}
        {% for toy in puppy.toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toys_detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{puppy.name}} doesn't have any toys 😞</p>
      {% endif %}
    </div>
    <h3>Available Toys</h3>
    <div class="subsection-content">
      {% comment %} We'll display available toys here {% endcomment %}
      {% if toys.count %}
        {% for toy in toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toys_detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
            <form action="{% url 'assoc_toy' puppy.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give toy</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-toys">
          {{cat.name}} already has all the available toys 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>
{% endblock %}